.input {
    width: 100%;
    height: 20px;
    padding: 15px 20px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 2px solid hotpink;
    border-radius: 15px;
    background-color: whitesmoke;
    /* resize: none; */
}