# Testing
# ------------------------------------------------------------------------------
pytest==8.2.2  # https://github.com/pytest-dev/pytest
flake8==7.0.0  # https://pypi.org/project/flake8/

# Code Style
# ------------------------------------------------------------------------------
black==24.4.2  # https://pypi.org/project/black/

# Code quality
# ------------------------------------------------------------------------------
coverage==7.5.4  # https://github.com/nedbat/coveragepy

# Machine Learning
# ------------------------------------------------------------------------------
transformers==4.47.0  # https://huggingface.co/transformers/
scikit-learn==1.5.2  # https://scikit-learn.org/stable/
torch==2.5.0  # https://pytorch.org/
transformers[torch]==4.47.0   # https://huggingface.co/transformers/
datasets==3.2.0  # https://huggingface.co/docs/datasets/